* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.pagination p {
    font-size: 15px;
    font-weight: bold;
    
}

.main-container {
    width: 100%;
    height: 100vh;
    background: url(https://i.redd.it/0ohv3srxzb631.jpg);
    transition: background 1s linear;
}